* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

li:hover a {
  color: #34547a;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);

  margin-inline: auto;
}

.header {
  min-height: 700px;
  padding-top: 75px;
  padding-bottom: 100px;

  background-color: #eeeff1;
}

.navbar {
  margin-bottom: 145px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 43px;
}
.navbar__link {
  padding: 10px 0;

  letter-spacing: 0.1em;

  color: #000000;

  line-height: 1.64;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  max-width: 540px;

  gap: 30px;
}
.content__title {
  margin: 0 0 4px;

  color: #000000;

  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  line-height: 1.64;
}
.content__description {
  margin-bottom: 26px;

  color: #727272;

  line-height: 1.64;
}
.content__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  padding: 0.5em;

  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: #34547a;
}

.about {
  padding-top: 110px;
  padding-bottom: 94px;

  background-color: #f9f9f9;
}
.about__title {
  margin-bottom: 39px;

  text-align: center;

  color: #000000;

  font-size: 2rem;
  font-weight: 500;
}
.about__description {
  text-align: center;

  color: #727272;

  line-height: 1.64;
}

.experience {
  padding: 108px 0 88px;

  color: #ffffff;
  background-color: #34547a;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 20px;
}

.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 20px;
}
.experience-item__drscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  gap: 7px;
}
.experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.experience-item__text {
  margin-top: -5px;

  line-height: 1.64;
}
.experience-item__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.process {
  margin-top: 100px;
}
.process__title {
  margin-bottom: 39px;

  text-align: center;

  color: #000000;

  font-size: 2rem;
  font-weight: 500;
}
.process__description {
  margin-bottom: 50px;

  text-align: center;

  color: #727272;

  line-height: 1.64;
}

.video {
  padding-bottom: 100px;

  background-color: #f9f9f9;
}
.video__iframe {
  width: 100%;
  height: 600px;

  border: 0;
}

.footer {
  min-height: 150px;
  padding: 40px 0;
  padding-bottom: 50px;

  color: #ffffff;
  background-color: #34547a;
}
.footer__name {
  margin: 0 0 20px 0;

  font-size: 1.3125rem;
  font-weight: 500;
}
.footer__copyright {
  font-size: 0.8125rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.64;
}
@media (max-width: 992px) {
  .experience__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .video__iframe {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: 600px;
  }
  .navbar__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    gap: 30px;
  }
  .content__description {
    font-size: 16px;
  }
  .content__comment {
    min-width: 190px;
    min-height: 50px;
  }
  .about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .about__description {
    font-size: 16px;
  }
  .video__iframe {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .header {
    min-height: 400px;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar__list {
    gap: 10px;
  }
  .content {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
  }
  .content__title {
    font-size: 2.5rem;
  }
  .content__description {
    text-align: center;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .experience {
    padding: 65px 0 65px;
  }
  .video__iframe {
    height: 250px;
  }
}
