@use "presets/" as *;

.navbar {
  margin-bottom: 145px;
  @media (max-width: 576px) {
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    gap: 43px;
    @media (max-width: 768px) {
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @media (max-width: 576px) {
      gap: 10px;
    }
  }
  &__link {
    color: $color-black;
    line-height: $line-height-lg;
    letter-spacing: $leter-spacing;
    padding: $gap-sm 0;
  }
}
