@use "presets/index";

@use "common/typography";
@use "common/classes";

@use "components/header/header";
@use "components/header/navbar";
@use "components/header/content";
@use "components/main/about";
@use "components/main/experience";
@use "components/main/process";
@use "components/main/video";
@use "components/footer/footer";
